extends ../layout/index

block contenido 
    div.py-10 
        h2.text-center.font-extrabold.my-10.text-4xl.text-indigo-600 Bienes 
            spam.font-normal.text-black Raices 
        h2.text-center.font-extrabold.text-2xl= page 

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow 
                form(action=" ").space-y-5.px-6
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-nold Nombre completo: 
                        input#nombre.w-full.px-3.px-2.border.border-gray-300.rounded-lg.border-2(type="text"  placeholder="Nombre con apellidos" name="nombre_usuario")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-nold Correo electronico: 
                        input#correo.w-full.px-3.px-2.border.border-gray-300.rounded-lg.border-2(type="text"  placeholder="aguzm347gmail.com" name="correo_usuario")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-nold Password: 
                        input#password.w-full.px-3.px-2.border.border-gray-300.rounded-lg.border-2(type="password"  placeholder="Insertar minimo 6 caracteres " name="contraseña_usuario")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-nold Password confirm: 
                        input#passwordU.w-full.px-3.px-2.border.border-gray-300.rounded-lg.border-2(type="password"  placeholder="contraseña" name="validacion_contraseña")
                    
                    div.flex.items-center.justify-between 
                        a.text-gray-500.text-xs( href="auth/login")¿Ya tienes una cuenta? Inicia secion
                        a.text-gray-500.text-xs( href="auth/passwordRecovery  " class= "hover-underline.hover-decoration-2.hoverdecoration-unserline-red-600")¿olvidaste tu contraseña? Recuperala 

                    input(class="w-full bg-indigo-600 hover=bg-indigo-700 rounded-lg text-white font-bold py-2 cursor-pointer" type="submit" value="crear cuenta")
                         
            