extends ../layout/index

block contenido
    div.py-10
        h2.text-center.font-extrabold.my-10.text-4xl.text-brown-200 Bienes   
            span.font-normal.text-brown-100 Raices  
        h2.text-center.font-extrabold.text-2xl.text-white= page 

    div(class="bg-brown-100 text-center text-white p-4 text-lg shadow-xl mx-auto w-fit rounded-lg")
        p.text-xl.font-bold.text-center.my-10=msg
